 <head>
    <link rel="stylesheet" href="/css/styleInfoPage.css">
 <body>
    <main class="container" >
        <header id="navbar">{{>navbar}}</header>
        <br>
        <section class="innerContainer">
            <h1>What to watch</h1>
                <ul class="info">
                    <li>Genre: {{Genre}} </li>
                    <li>Episode Count: {{Epi}} </li>
                    <li>Season Count: {{Seas}} </li>
                    <li>Air Date {{Air}} </li>
                    <li>Status {{Satus}} </li>
                </ul>
                <p class="description">Description: </p>
                <p class="descriptionText">{{Description}}</p>
        </section>
    </main>
 </body>
 </html>